.logo img{
  width:100%;
  height:auto;
  text-align:center;
  margin:0 auto;
}
.logo{
  margin: 0 auto;
}
.rightwrong{
  margin:0 auto;
}
.scores{
  padding-top:10px;
  margin:0 auto;
}
.t-score img{
  width:100px;
  height:auto;
}
.c-score img{
  width:150px;
  height:auto;
}
footer{
    position: fixed;
    bottom:0;
  width:100%;
  text-align: center;
  background-color:red;
  border-top:black solid 2px;
  color:yellow;
  }
  